@inherits LayoutComponentBase
@layout BlazorStoreManagementWebApp.Components.Layout.Admin.MainLayout

<Navbar />
<div class="admin-container">
	
	<Sidebar />

	<main class="main-content">
		@Body
	</main>
</div>

@code {

}
