<nav class="navbar navbar-admin">
    <div class="container-fluid">
        <span class="navbar-brand">
            <i class="fas fa-layer-group"></i>
            Admin Dashboard
        </span>
    </div>
</nav>