<aside class="sidebar">
    <NavLink class="sidebar-item" href="/admin/thongke" Match="NavLinkMatch.All">
        <i class="fa-solid fa-chart-column"></i>
        <span>Thống kê</span>
    </NavLink>
    <NavLink class="sidebar-item" href="/admin/sanpham" Match="NavLinkMatch.All">
        <i class="fas fa-cube"></i>
        <span>Sản phẩm</span>
    </NavLink>
    <NavLink class="sidebar-item" href="/admin/loaisanpham" Match="NavLinkMatch.All">
        <i class="fas fa-boxes"></i>
        <span>Loại sản phẩm</span>
    </NavLink>
    <NavLink class="sidebar-item" href="/admin/khachhang" Match="NavLinkMatch.All">
        <i class="fa-duotone fa-solid fa-user-group-simple"></i>
        <span>Khách hàng</span>
    </NavLink>
    <NavLink class="sidebar-item" href="/admin/nhanvien" Match="NavLinkMatch.All">
        <i class="fas fa-users"></i>
        <span>Nhân viên</span>
    </NavLink>
    <NavLink class="sidebar-item" href="/admin/donhang" Match="NavLinkMatch.All">
        <i class="fas fa-shopping-cart"></i>
        <span>Đơn hàng</span>
    </NavLink>
    <NavLink class="sidebar-item" href="/admin/nhacungcap" Match="NavLinkMatch.All">
        <i class="fa-sharp-duotone fa-solid fa-building"></i>
        <span>Nhà cung cấp</span>
    </NavLink>
    <NavLink class="sidebar-item" href="/admin/magiamgia" Match="NavLinkMatch.All">
        <i class="fa-solid fa-ticket"></i>
        <span>Mã giảm giá</span>
    </NavLink>
    <NavLink class="sidebar-item" href="/admin/phieunhap" Match="NavLinkMatch.All">
        <i class="fa-regular fa-newspaper"></i>
        <span>Phiếu nhập</span>
    </NavLink>
</aside>

@code {

}
