@page "/dangky"

<section id="">
	<!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-1">
				<div class="login-form">
					<!--login form-->
					<h2>A new star is approaching!</h2>
					<form>
						<div class="form-group">
							<label>Username</label>
							<input class="form-control" />
						</div>
						<div class="form-group">
							<label>Email</label>
							<input class="form-control" />
						</div>
						<div class="form-group">
							<label>Password</label>
							<input class="form-control" />
						</div>
						<div class="form-group">
							<label>Confirm Password</label>
							<input class="form-control" />
						</div>
						<div style="display:flex; justify-content:space-between; align-items:center;">
							<button class="btn btn-warning" style="margin-bottom: 30px;">Đăng ký</button>

							<ul class="list-inline" style="margin-bottom:0;">
								<li><a href="/dangnhap">Đã có tài khoản? Đăng nhập ngay</a></li>
							</ul>
						</div>

					</form>
				</div><!--/login form-->
			</div>
		</div>
	</div>
</section><!--/form-->

@code {

}
