@page "/dangnhap"

<section id="">
	<!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-1">
				<div class="login-form">
					<!--login form-->
					<h2>Đăng nhập đi bạn</h2>
					<form>
						<div class="form-group">
							<label>Username</label>
							<input class="form-control" />
						</div>
						<div class="form-group">
							<label>Password</label>
							<input class="form-control" />
						</div>
						<div style="display:flex; justify-content:space-between; align-items:center;">
							<button class="btn btn-warning" style="margin-bottom: 30px;">Đăng nhập</button>

							<ul class="list-inline" style="margin-bottom:0;">
								<li><a href="/dangky">Đăng ký ngay?</a></li>
								<li><a href="/quenmatkhau">Quên mật khẩu?</a></li>
							</ul>
						</div>


					</form>
				</div><!--/login form-->
			</div>
		</div>
	</div>
</section><!--/form-->

@code {

}
