@page "/thanhtoan"

<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li class="active">Thanh toán</li>
			</ol>
		</div><!--/breadcrums-->



		<div class="review-payment">
			<h2>Review giỏ hàng & Thanh toán</h2>
		</div>

		<div class="table-responsive cart_info">
			<table class="table table-condensed">
				<thead>
					<tr class="cart_menu">
						<td class="image">Item</td>
						<td class="name">Tên sản phẩm</td>
						<td class="price">Đơn giá</td>
						<td class="quantity">Số lượng</td>
						<td class="total">Tổng tiền</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="cart_product">
							<a href=""><img src="images/cart/one.png" alt="" width="150" height="150"></a>
						</td>
						<td class="cart_price">
							<p>Product 001</p>
						</td>
						<td class="cart_price">
							<p>100.000 VND</p>
						</td>
						<td>
							<p>1</p>
						</td>
						<td class="cart_total">
							<p class="cart_total_price">200.000 VND</p>
						</td>
					</tr>
					<tr>
						<td class="cart_product">
							<a href=""><img src="images/cart/one.png" alt="" width="150" height="150"></a>
						</td>
						<td class="cart_price">
							<p>Product 001</p>
						</td>
						<td class="cart_price">
							<p>100.000 VND</p>
						</td>
						<td>
							<p>1</p>
						</td>
						<td class="cart_total">
							<p class="cart_total_price">200.000 VND</p>
						</td>
					</tr>


					<tr>
						<td colspan="4">&nbsp;</td>
						<td colspan="2">
							<table class="table table-condensed total-result">
								<tr>
									<td>Tổng tiền trước khi giảm</td>
									<td>400.000 VND</td>
								</tr>
								<tr>
									<td>Giá đã giảm</td>
									<td>10%</td>
								</tr>
								<tr class="shipping-cost">
									<td>Phí vận chuyển</td>
									<td>Free</td>
								</tr>
								<tr>
									<td>Thành tiền</td>
									<td><span>360.000 VND</span></td>
								</tr>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<form id="checkout-form" action="#" method="post">
			<div class="row">
				<!-- CỘT TRÁI: THÔNG TIN GIAO HÀNG -->
				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<strong>Thông tin giao hàng</strong>
						</div>
						<div class="panel-body">

							<div class="radio">
								<label>
									<input type="radio" name="shipping_address_option" value="default" checked>
									Giao hàng tại địa chỉ mặc định
								</label>
							</div>

							<div class="radio" style="margin-bottom:15px;">
								<label>
									<input type="radio" name="shipping_address_option" value="new">
									Giao hàng đến địa chỉ mới
								</label>
							</div>

							<div id="new-shipping-address">
								<div class="form-group">
									<label for="shipping_fullname">Họ và tên</label>
									<input type="text" class="form-control" id="shipping_fullname" name="shipping_fullname"
										   placeholder="Nhập họ và tên người nhận" disabled>
								</div>

								<div class="form-group">
									<label for="shipping_phone">Số điện thoại</label>
									<input type="text" class="form-control" id="shipping_phone" name="shipping_phone"
										   placeholder="Nhập số điện thoại liên hệ" disabled>
								</div>

								<div class="form-group">
									<label for="shipping_address">Địa chỉ nhận hàng</label>
									<textarea class="form-control" id="shipping_address" name="shipping_address"
											  placeholder="Số nhà, tên đường, phường/xã, quận/huyện, tỉnh/thành phố"
											  rows="3" disabled></textarea>
								</div>
							</div>

						</div>
					</div>
				</div>

				<!-- CỘT PHẢI: PHƯƠNG THỨC THANH TOÁN + NÚT -->
				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<strong>Phương thức thanh toán</strong>
						</div>
						<div class="panel-body payment-options">

							<div class="radio" style="margin-top: 30px;">
								<label>
									<input type="radio" name="payment_method" value="cash" checked>
									Thanh toán khi nhận hàng (COD)
								</label>
								<p class="help-block">Thanh toán tiền mặt cho shipper khi nhận được hàng.</p>
							</div>

							<div class="radio">
								<label>
									<input type="radio" name="payment_method" value="bank">
									Thanh toán qua ngân hàng
								</label>
								<p class="help-block">Thanh toán qua ứng dụng ngân hàng hoặc cổng thanh toán.</p>
							</div>

							<div class="radio">
								<label>
									<input type="radio" name="payment_method" value="momo">
									Thanh toán bằng ví MoMo
								</label>
								<p class="help-block">Thanh toán siêu tốc qua ví MoMo.</p>
							</div>

							<button type="submit"
									class="btn btn-primary check_out"
									style="margin-top:20px;">
								Xác nhận thanh toán
							</button>

						</div>
					</div>
				</div>

			</div>
		</form>
	</div>
</section> <!--/#cart_items-->

@code {

}
