@attribute [StreamRendering]
@rendermode InteractiveServer
@page "/admin/loaisanpham"
@using Components.Layout.Admin;
@layout MainLayout

<!-- HEADER -->
<div class="content-header">
    <h2>
        <i class="fas fa-list"></i>
        Quản lý Loại sản phẩm
    </h2>
</div>

<!-- ACTION BAR -->
<div class="action-bar">
    @* không chia component *@
    <button class="btn-add" @onclick="() => LoaiSanPhamFormRef.OpenCreate()">
        <i class="fas fa-plus"></i>
        Thêm mới
    </button>
    @* không chia component (tìm kiếm & lọc mỗi chỗ mỗi khác nên thôi) *@
    <div class="search-group w-100">
        <input @bind="Keyword" type="text" placeholder="Tìm kiếm..." class="form-control">
        <button class="btn-search" @onclick="Search">
            <i class="fas fa-search"></i>
            Tìm kiếm
        </button>
    </div>
</div>

<!-- TABLE -->
<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>Mã loại</th>
                <th class="text-center">Tên loại</th>
                <th class="text-center">Tùy chỉnh</th>
            </tr>
        </thead>
        <tbody>
            @if (LoaiData?.Data == null || !LoaiData.Data.Any())
            {
                <tr>
                    <td colspan="3" class="text-center text-muted py-4">
                        <i class="fas fa-box-open fa-2x mb-2"></i><br />
                        Không có dữ liệu
                    </td>
                </tr>
            }
            else
            {
                @foreach (var item in LoaiData.Data)
                {
                    <tr>
                        <td>@item.CategoryId</td>
                        <td class="text-center">@item.CategoryName</td>
                        <td class="text-center">
                            <button class="btn-action btn-edit"
                                    @onclick="() => LoaiSanPhamFormRef.OpenUpdate(item)">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button class="btn-action btn-delete">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@* truyền vào các tham số xuống component phân trang (tương tự như cái nextjs mình từng làm) *@
@if (LoaiData?.Data != null && LoaiData.Data.Any())
{
    <PaginationAdmin Total="LoaiData.Total"
                     Page="@Page"
                     PageChanged="ChangePage"
                     PageSize="@PageSize" />
}


<LoaiSanPhamForm @ref="LoaiSanPhamFormRef" OnSuccess="LoadData" />  

@* tụi mình sẽ không viết code phần logic (@code {}) ở đây vì phần này khá dài và phức tạp, nên sẽ tạo 1 file partial class để chứa logic *@
