@using AdminLayout = BlazorStoreManagementWebApp.Components.Layout.Admin.MainLayout
@using ClientLayout = BlazorStoreManagementWebApp.Components.Layout.Client.MainLayout
@inject NavigationManager NavigationManager

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <LayoutView Layout="@SelectLayout">
            <RouteView RouteData="@routeData" />
        </LayoutView>
    </Found>

    <NotFound>
        <p class="text-danger fw-bold">❌ Trang không tồn tại.</p>
    </NotFound>
</Router>

@code {
    private Type SelectLayout
    {
        get
        {
            var uri = NavigationManager.Uri.ToLower();

            // đăng nhập admin → dùng layout login
            if (uri.Contains("/admin/dangnhap"))
                return typeof(BlazorStoreManagementWebApp.Components.Layout.Admin.AdminLoginLayout);

            // Trang admin bình thường
            if (uri.Contains("/admin"))
                return typeof(AdminLayout);

            // Trang client
            return typeof(ClientLayout);
        }
    }
}
